
/* TÍNH CHẤT GRID */
.grid {
    display: block;
    padding: 0;
    
}

.grid.wide {
    max-width: 1200px;
    margin-left: 24px;
    margin-right: 24px;
}


/* TÍNH CHẤT ROW */
.row {
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    background-clip: content-box;
}

.grid.wide > .row + .row {
    padding-top: 24px;
}


/* TÍNH CHẤT COLUMN */
.col {
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    background-clip: content-box;
}


/* TÙY CHỈNH SỐ COLUMN VÀ KÍCH THƯỚC COLUMN*/
.col.l-0 {
    display: none;
}

.col.l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.col.l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.col.l-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col.l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col.l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.col.l-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col.l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.col.l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.col.l-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col.l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.col.l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.col.l-12 {
    flex: 0 0 100%;
    max-width: 100%;
}


/* CĂN CHỈNH VỊ TRÍ COLUMN TRONG ROW */

.col.l-o-1 {
    margin-left: 8.33333%;
}

.col.l-o-2 {
    margin-left: 16.66667%;
}

.col.l-o-3 {
    margin-left: 25%;
}

.col.l-o-4 {
    margin-left: 33.33333%;
}

.col.l-o-5 {
    margin-left: 41.66667%;
}

.col.l-o-6 {
    margin-left: 50%;
}

.col.l-o-7 {
    margin-left: 58.33333%;
}

.col.l-o-8 {
    margin-left: 66.66667%;
}

.col.l-o-9 {
    margin-left: 75%;
}

.col.l-o-10 {
    margin-left: 83.33333%;
}

.col.l-o-11 {
    margin-left: 91.66667%;
}

/* ==============RESPONSIVE============== */

/* THIẾT BỊ CÓ KÍCH THƯỚC MÀN HÌNH LỚN */
@media (min-width: 1268px) {
    .grid.wide {
        margin: 0 auto;
    }
}

/* THIẾT BỊ CÓ KÍCH THƯỚC MÀN HÌNH TRUNG BÌNH */
@media (min-width: 740px) and (max-width: 1024px) {

    .col.m-0 {
        display: none;
    }

    .col.m-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .col.m-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col.m-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col.m-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col.m-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col.m-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col.m-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col.m-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col.m-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col.m-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .col.m-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .col.m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    /* CĂN CHỈNH VỊ TRÍ COLUMN TRÊN THIẾT BỊ KÍCH THƯỚC TRUNG BÌNH */
    .col.m-o-1 {
        margin-left: 8.33333%;
    }
    
    .col.m-o-2 {
        margin-left: 16.66667%;
    }
    
    .col.m-o-3 {
        margin-left: 25%;
    }
    
    .col.m-o-4 {
        margin-left: 33.33333%;
    }
    
    .col.m-o-5 {
        margin-left: 41.66667%;
    }
    
    .col.m-o-6 {
        margin-left: 50%;
    }
    
    .col.m-o-7 {
        margin-left: 58.33333%;
    }
    
    .col.m-o-8 {
        margin-left: 66.66667%;
    }
    
    .col.m-o-9 {
        margin-left: 75%;
    }
    
    .col.m-o-10 {
        margin-left: 83.33333%;
    }
    
    .col.m-o-11 {
        margin-left: 91.66667%;
    }
}

/* THIẾT BỊ CÓ KÍCH THƯỚC MÀN HÌNH NHỎ */
@media (max-width: 739px) {
    
    .grid.wide {
        margin-left: 8px;
        margin-right: 8px;
    }

    .col {
        padding-left: 4px;
        padding-right: 4px;
    }

    .row {
        margin-left: -4px;
        margin-right: -4px;
    }
    .row + .row {
        padding-top: 12px;
    }


    .col.s-0 {
        display: none;
    }

    .col.s-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .col.s-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col.s-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col.s-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col.s-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col.s-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col.s-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col.s-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col.s-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col.s-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .col.s-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .col.s-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    /* CĂN CHỈNH VỊ TRÍ COLUMN TRÊN THIẾT BỊ KÍCH THƯỚC NHỎ */
    .col.s-o-1 {
        margin-left: 8.33333%;
    }
    
    .col.s-o-2 {
        margin-left: 16.66667%;
    }
    
    .col.s-o-3 {
        margin-left: 25%;
    }
    
    .col.s-o-4 {
        margin-left: 33.33333%;
    }
    
    .col.s-o-5 {
        margin-left: 41.66667%;
    }
    
    .col.s-o-6 {
        margin-left: 50%;
    }
    
    .col.s-o-7 {
        margin-left: 58.33333%;
    }
    
    .col.s-o-8 {
        margin-left: 66.66667%;
    }
    
    .col.s-o-9 {
        margin-left: 75%;
    }
    
    .col.s-o-10 {
        margin-left: 83.33333%;
    }
    
    .col.l-o-11 {
        margin-left: 91.66667%;
    }
}